.frameBody{
  margin-right: 15px;
  border:  1px solid black;
}
.frameMain{
  width: 68%;
  margin-left: 1%; 
  margin-right: 1%; 
  background-color: white;
}
.frameList{
  width: 28%;
  margin-left: 1%; 
  margin-right: 1%; 
  background-color: white;
}
.frameSearch{
  margin-top: 10px;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  padding-left: 15px;
  font-weight: bold
}
.frameMainList{
  flex-direction: row;
  display: flex;
}
.frameButton{
  border-radius: 10px;
  border: 1px solid black;
  width: 10%;
  height: 50px;
  margin-left: 10px;
  outline: none;
}
button.frameButton:hover{
  background-color: orange;
  color: white;
  font-weight: bold
}
.video{
  height: 500px; 
  width: 100% 
}
.videoList{
  height: 100px; 
  width: 100px 
}
.frameContentList{
  height: auto;
  width: 100%;
  overflow-y: auto;
}
btn-content {
  width: 100%;
}
.frameName{
  margin-left: 8px;
}
.text-input {
  height: 300px;
  width: 50px;
}